.pagination {
  display: flex;
  list-style-type: none;
  margin: 1rem 35%;
}

.page--item {
  padding: 0.5rem 1rem;
  border: 1px solid #66fcf1;
  margin: 0.2rem;
  border-radius: 0.7rem;
  cursor: pointer;
}

.page--link {
  text-decoration: none;
  color: #66fcf1;
}
